.projectsItemWrap {
  padding: 0.5rem;
  background: white;
  border: 2px solid black;
  border-radius: 6px;
  /* margin: 0.5rem auto; */
}
.linkWrap button {
  cursor: pointer;
  border: none;
  background: white;
  font-size: 1rem;
  font-weight: 600;
}
.linkWrap button:hover {
  color: blueviolet;
}